.convertor-tool-bar {
  padding-bottom: 20px;
}

.switch-button {
  min-width: 0 !important;
  padding: 6px !important;
  background-color: var(--white-color) !important;
  color: var(--primary-color) !important;
}
